<head>
</head>

<body>
  <h1>Add dat Peep</h1>
  <div>
    <form action="/add_peep">
      <input type="text" name="new_peep" placeholder = "Your peep goes ere">
      <input type='submit' value='Post dat peep'>
    </form>
  </div>
</body>