<head>
</head>

<body>
  <h1>Peepsville</h1>
  <div>
    <form action="/add_peep">
      <input type='submit' value='Add peep'>
    </form>
  </div>
  <div>
    <h1> The Peep Feed </h1>
    <ul>
        <% @peeps.each do |peep| %>
            <li><%= peep.text %></li>
        <% end %>
    </ul>
  </div>
</body>